{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-inner" style="margin: 100px 50px">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Number of Members of Every Organization</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="doughnut-chart" style="width: 100%; height: 400px;"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Number of students of every Colleges</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="doughnut-chart-college" style="width: 100%; height: 400px;"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Number of students of every Colleges</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="radar-chart-college" style="width: 100%; height: 400px;"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Number of every programs</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="program-polar-chart" style="width: 100%; height: 400px;"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
  </div>
</div>
{% endblock %}

{% block chart %}
<script>
  function loadDoughnutChartData() {
    fetch("/doughnut-chart/")
      .then((response) => response.json())
      .then((data) => {
        var labels = Object.keys(data);
        var counts = Object.values(data);

        doughnutChart.data.labels = labels;
        doughnutChart.data.datasets[0].data = counts;

        doughnutChart.update();
      })
      .catch((error) => {
        console.error("Error fetching data:", error);
      });
      
  var doughnutChart = new Chart(document.getElementById("doughnut-chart").getContext("2d"), {
    type: 'doughnut',
    data: {
      labels: [],
      datasets: [{
        label: 'Number of Members',
        data: [],
        backgroundColor: ['rgba(255, 206, 86)', 'rgba(37, 26, 117)', 'rgba(107, 2, 42)', 'rgba(255, 109, 36)', 'rgba(7, 235, 147)', 'rgba(54, 162, 235)'],
        borderWidth: 1
      }]
    },
    options: {
      pieceLabel: {
        render: "percentage",
        fontColor: "white",
        fontSize: 14,
      },
      legend: {
        position: "bottom",
      },
      responsive: true,
      maintainAspectRatio: false,
    }
  });

  }

  function loadDoughnutChartCollegeData() {
    fetch("/doughnut-chart-college/")
      .then((response) => response.json())
      .then((data) => {
        var labels = Object.keys(data);
        var counts = Object.values(data);

        doughnutChartCollege.data.labels = labels;
        doughnutChartCollege.data.datasets[0].data = counts;

        doughnutChartCollege.update();
      })
      .catch((error) => {
        console.error("Error fetching data:", error);
      });
      
  var doughnutChartCollege = new Chart(document.getElementById("doughnut-chart-college").getContext("2d"), {
    type: 'doughnut',
    data: {
      labels: [],
      datasets: [{
        label: 'Number of Members',
        data: [],
        backgroundColor: ['rgba(255, 206, 86)', 'rgba(37, 26, 117)', 'rgba(107, 2, 42)', 'rgba(255, 109, 36)', 'rgba(7, 235, 147)', 'rgba(54, 162, 235)'],
        borderWidth: 1
      }]
    },
    options: {
      pieceLabel: {
        render: "percentage",
        fontColor: "white",
        fontSize: 14,
      },
      legend: {
        position: "bottom",
      },
      responsive: true,
      maintainAspectRatio: false,
    }
  });

  }

  function loadRadarChartData() {
    fetch("/radar-chart-college/")
      .then(response => response.json())
      .then(data => {
        var labels = Object.keys(data);
        var counts = Object.values(data);
        
        myRadarChart.data.labels = labels;
        myRadarChart.data.datasets[0].data = counts;
        myRadarChart.update();
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
      
  var myRadarChart = new Chart(document.getElementById("radar-chart-college").getContext("2d"), {
      type: "radar",
      data: {
        datasets: [
          {
            data: [],
            borderColor: "#1d7af3",
            backgroundColor: "rgba(29, 122, 243, 0.25)",
            pointBackgroundColor: "#1d7af3",
            pointHoverRadius: 4,
            pointRadius: 3,
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: "bottom",
        },
      },
    });
  }
  
  function loadPolarChartData() {
    fetch("/program-polar-chart/")
    .then(response => response.json())
    .then(data => {

        const labels = Object.keys(data); 
        const counts = Object.values(data);

        polarChart.data.labels = labels;
        polarChart.data.datasets[0].data = counts;


        polarChart.update();
    })
    .catch(error => console.error('Error fetching data:', error));

    var polarChart = new Chart(document.getElementById("program-polar-chart").getContext("2d"), {
      type: 'polarArea',
      data: {
          labels: [], // Array to store program names
          datasets: [{
              label: 'Students per Program',
              data: [],
              backgroundColor: [ 
                  'rgba(255, 99, 132, 0.6)',
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                  'rgba(75, 192, 192, 0.6)',
                  'rgba(153, 102, 255, 0.6)',
                  'rgba(255, 159, 64, 0.6)',
                  'rgba(3, 252, 7, 0.6)'
  
  
              ],
  
  
          }]
      },
      options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
              position: 'bottom',
          },
          scale: {
              ticks: {
                  beginAtZero: true
              }
          }
      }
  });
  }

  

  
  

  loadPolarChartData();
  loadDoughnutChartData();
  loadDoughnutChartCollegeData();
  loadRadarChartData();


</script>
{% endblock %}
